.sidebar{
    flex: 1.3;
    background-color: #2D3435;
    position: sticky;
    overflow-y: scroll;
    height: calc(100vh - 1px);
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #706f6f;
}


li{
    list-style: none;
    text-align: start;
    display: flex;
    align-items: center;
    margin-top: 19px;
}
a{
    text-decoration: none;
    color: white;
}

.logoImage{
    width: 20px;
    margin: 3px;
}