
body {
    background-color: black;

}



.mainContent{
    
    color: rgb(213, 213, 28);
    font-size: 20px;
    display: block;
    background-color: rgb(88, 38, 38);
    height: 800px;
}


.form-login{
    display: flex;
    align-items: center;
    justify-content: center;

}





form .form-inner{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px yellow;
    box-shadow: 0 0 10px yellow;
}

form .form-inner h2{
    color: rgb(81, 52, 246);
    display: flex;
    justify-content: center;
}

form .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
   
}

.form-inner .form-group label{
    font-style: italic;
    font-weight: 500;
    display: block;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.4s;
}


form .form-inner .form-group input{
    display: block;
    width: 90%;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.4s;
}



.btn:hover{
   background-color: rgb(92, 178, 218);
}
 .btn{
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #443ebc;
    color: white;
    background-color: #443ebc; 
 }



